


   <div class="header">
      <div class="container">
         <div class="row">
            
            <div class="text-center">
               <img src="../../../assets/img/logo.png" class="rounded" alt="...">
             </div>
            <!-- <div class="logo">
               <a href="index.html"><img src="src/assets/img/logo.png"  class="img-thumbnail"  alt="#" /></a>
            </div> -->
          
               <ul class="nav justify-content-center ">
                  <li class="nav-item " >
                     <a class="nav-link active"href="#">INICIO</a>
                   </li>

                   <li class="nav-item " >
                     <a class="nav-link active" routerLink="/ventaInmobiliaria">VENTA</a>
                   </li>

                  <!-- <li class="nav-item dropdown">
                     <a class="nav-link dropdown" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                         VENTA
                     </a>
                     <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                         <li><a class="dropdown-item" routerLink="/ventaInmobiliaria">APARTAMENTO</a></li>
                         <li><a class="dropdown-item" href="#">CASA</a></li>
                         <li><a class="dropdown-item" href="#">LOCAL</a></li>
                         <li><a class="dropdown-item" href="#">BODEGA</a></li>
                         <!-- <li><hr class="dropdown-divider"></li> 
                     </ul>
                 </li> -->
                    
                 <li class="nav-item " >
                  <a class="nav-link active" routerLink="/ArriendoInmobiliaria">ARRIENDO</a>
                </li>
             
              
   
                  <li class="nav-item">
                     <a class="nav-link active" routerLink="/propietarios">PROPIETARIO</a>
                  </li>
                
                </ul>

          
            
         </div>
      </div>
   </div>
  




