
<footer class="footer">
 
       
        
   
              <div class="row">
             
                    <p>© 2019 All Rights Reserved. Design by <a href="https://html.design/"> Free Html Templates</a></p>
           
              </div>
       
   

</footer>


<!-- <div class="mi-container">
           <div class="row">
              <div class=" col-md-4 col-sm-6">
                 <ul class="social-icons">
                     <li><a href="#"><svg cIcon name="cibFacebookF" size="xl9" title="Numbered List Icon"></svg></a></li>
                    <li><a href="#"><svg cIcon name="cibFacebookF" size="xl" title="CIF-AD Plane Icon"></svg></a></li> >
                    <li><a href="#"><i class="bi bi-facebook" aria-hidden="true" ></i></a></li>
                    <li><a href="#"><i class="bi bi-twitter"aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="bi bi-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="bi-linkedin" aria-hidden="true" ></i></a></li>
                 </ul>
                 <p class="variat">T
                 </p>
              </div>
              <div class=" col-md-4 col-sm-6">
                 <h3>LET US HELP YOU </h3>
                 <p  class="variat">
                 </p>
              </div>
            
              <div class="col-md-4 col-sm-6">
                 <h3>OUR Design</h3>
                 <p  class="variat">T
                 </p>

                 
              </div>
          
           </div>
        </div> <!DOCTYPE html>-->

